<div class="row">
   <div class="full-width column">
      <div>
         <p>Please choose pallet(s).</p>
         <div class="gradeGrid">
            <div id="gradeGrid" style="height: 210px;" #gradeGrid soho-datagrid [gridOptions]="gradeOptions"
               soho-busyindicator [showSelectAllCheckBox]="true" selected [blockUI]="true" [displayDelay]="0">
            </div>
         </div>
         <br />
      </div>
   </div>
</div>

<!-- div #dialogPlaceholder will contain the child component -->
<div #dialogPlaceholder></div>
